* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

main{
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    align-items: center;
    gap: 20px;
}

