:root {
    --cor-fundo-body: #fffaf6;
    --cor-texto-body: #000000;
    --cor-header: #ffffff;
    --cor-texto-header: #000000;
    --cor-menu: #000000;
    --cor-hover-menu: #907943;
    --cor-sombra-claro: #8e8e8e;
    --cor-sombra-escuro: #545049;
    --cor-art1: #6b8e23;
    --cor-border-art2: #907943;
    --cor-footer: #907943;
    --cor-texto-footer: #ffffff;
}

body {
    margin: 0;
    background-color: var(--cor-fundo-body) !important;
}

